#!/bin/sh
# vim: set filetype=sh:
# PURPOSE:
#   1. When ranger quits, store the last directory switched to.
#   2. On next startup, switch to the stored directory.
# REF: https://github.com/ranger/ranger/blob/master/examples/shell_automatic_cd.sh

last_dir_save_file="{{ ranger_last_saved_dir_path }}"

# ranger --choosedir="${last_dir_save_file}" -- "${@:-$PWD}"
# if chosen_dir="$(cat -- "${last_dir_save_file}")" && [ -n "${chosen_dir}" ] && [ "${chosen_dir}" != "$PWD" ]; then
#   cd -- "${chosen_dir}" || exit
# fi

# if the save file exits, switch to the saved dir
if [ -f "${last_dir_save_file}" ]; then
  cd "${last_dir_save_file}" || exit 1
fi

# Note: tell ranger to store the last directory switched to, on quit
ranger --choosedir="${last_dir_save_file}"

