# vim: set filetype=conf:
# ANSIBLE-MANAGED CONFIGURATION FILE
# Sourcing: ranger sources this after system rc.conf
# Upstream Ref: https://github.com/ranger/ranger/blob/master/ranger/config/rc.conf

################################################################################
# WINDOW
################################################################################

# set a title for the window
set update_title {{ 'true' if set_window_title else 'false' }}

# num dirs in pwd to show in title (0 is unlimited)
set shorten_title {{ window_title_num_dirs }}

################################################################################
# TOP CWD LISTING
################################################################################

# abbreviate $HOME with ~ in top status-bar listing
set tilde_in_titlebar {{ 'true' if use_tilde_in_top_status_bar else 'false' }}

################################################################################
# COLUMNS
################################################################################

# viewmode: 3-pane 'miller' columns, or side-by-side vifm-style 'multipane'
set viewmode miller

# miller column relative widths
set column_ratios 2,3,4

# show the terminal (block/bar) cursor at current pos in current 'miller' column
set show_cursor {{ 'true' if show_term_cursor_at_current_pos else 'false' }}

# draw borders around the three 'miller' columns
set draw_borders {{ 'true' if draw_borders_around_columns else 'false' }}

# when scrolling, keep this many rows between current pos and top/bottom of col
set scroll_offset {{ scroll_offset_num_rows }}

# clear all existing filters when leaving a directory
set clear_filters_on_dir_change {{ 'true' if clear_filters_when_leaving_dir else 'false' }}

################################################################################
# FILE / DIR ENTRIES
################################################################################

# show hidden files by default
set show_hidden {{ 'true' if show_hidden_files_by_default else 'false' }}

# use a unicode '...' character to end cut-off filenames
set unicode_ellipsis {{ 'true' if use_unicode_ellipsis_for_abbrev_filenames else 'false' }}

################################################################################
# FILE PREVIEWS
################################################################################

# collapse (shrink) the last column if there is nothing to preview
set collapse_preview false

# show padding in last column if there is nothing to preview
set padding_right false

# preview image-files in term with method specified by 'preview_images_method'
set preview_images {{ 'true' if (image_preview_program != 'none') else 'false' }}

# image-file drawing method (see upstream rc.conf ref for available options)
set preview_images_method {{ image_preview_program if (image_preview_program != 'none') else 'urxvt' }}

################################################################################
# VCS
################################################################################

# show version control system info in status bar and in entries
set vcs_aware {{ 'true' if show_vcs_info else 'false' }}

################################################################################
# DELETE / TRASH
################################################################################

# confirm file or dir deletion ('always', 'never', or 'multiple')
set confirm_on_delete {{ confirm_file_or_dir_delete }}

################################################################################
# STATUS BAR
################################################################################

# draw the status bar on top
set status_bar_on_top {{ 'true' if draw_status_bar_on_top else 'false' }}

################################################################################
# MOUSE
################################################################################

# enable mouse support
set mouse_enabled false

################################################################################
# DIR-LOCAL SETTINGS
################################################################################

# sort downloads by mtime
setlocal path=~/download sort mtime

################################################################################
# KEYBINDINGS
################################################################################

# unmap special m's to allow remapping m
# unmap m<any>
# unmap m<bg>

# use separate keybindings file to facilitate showing a "help" page
# source ~/.config/ranger/keybindings.conf

