# vim: set filetype=conf:
# ANSIBLE-MANAGED CONFIGURATION FILE
# Sourcing: ranger sources this after system rc.conf
# Upstream Ref: https://github.com/ranger/ranger/blob/master/ranger/config/rc.conf

################################################################################
# WINDOW
################################################################################

# set a title for the window
set update_title {{ 'true' if set_window_title else 'false' }}

# num dirs in pwd to show in title (0 is unlimited)
set shorten_title {{ window_title_num_dirs }}

################################################################################
# TOP CWD LISTING
################################################################################

# abbreviate $HOME with ~ in top status-bar listing
set tilde_in_titlebar {{ 'true' if use_tilde_in_top_status_bar else 'false' }}

################################################################################
# COLUMNS
################################################################################

# viewmode: 3-pane 'miller' columns, or side-by-side vifm-style 'multipane'
set viewmode miller

# miller column relative widths
set column_ratios 2,3,4

# show the terminal (block/bar) cursor at current pos in current 'miller' column
set show_cursor {{ 'true' if show_term_cursor_at_current_pos else 'false' }}

# draw borders around the three 'miller' columns
set draw_borders {{ 'true' if draw_borders_around_columns else 'false' }}

# when scrolling, keep this many rows between current pos and top/bottom of col
set scroll_offset {{ scroll_offset_num_rows }}

# clear all existing filters when leaving a directory
set clear_filters_on_dir_change {{ 'true' if clear_filters_when_leaving_dir else 'false' }}

################################################################################
# FILE / DIR ENTRIES
################################################################################

# show hidden files by default
set show_hidden {{ 'true' if show_hidden_files_by_default else 'false' }}

# use a unicode '...' character to end cut-off filenames
set unicode_ellipsis {{ 'true' if use_unicode_ellipsis_for_abbrev_filenames else 'false' }}

################################################################################
# FILE PREVIEWS
################################################################################

# collapse (shrink) the last column if there is nothing to preview
set collapse_preview false

# show padding in last column if there is nothing to preview
set padding_right false

# preview image-files in term with method specified by 'preview_images_method'
set preview_images {{ 'true' if (image_preview_program != 'none') else 'false' }}

# image-file drawing method (see upstream rc.conf ref for available options)
set preview_images_method {{ image_preview_program if (image_preview_program != 'none') else 'urxvt' }}

################################################################################
# VCS
################################################################################

# show version control system info in status bar and in entries
set vcs_aware {{ 'true' if show_vcs_info else 'false' }}

################################################################################
# DELETE / TRASH
################################################################################

# confirm file or dir deletion ('always', 'never', or 'multiple')
set confirm_on_delete {{ confirm_file_or_dir_delete }}

################################################################################
# STATUS BAR
################################################################################

# draw the status bar on top
set status_bar_on_top {{ 'true' if draw_status_bar_on_top else 'false' }}

################################################################################
# MOUSE
################################################################################

# enable mouse support in ranger
set mouse_enabled {{ 'true' if enable_mouse_support else 'false' }}

################################################################################
# DIR-LOCAL SETTINGS
################################################################################

# sort entries in the downloads dir by mtime (if false, sort lexicographically)
setlocal path='{{ user_download_dir }}' sort {{ 'mtime' if sort_download_dir_entries_by_mtime else 'natural' }}

################################################################################
# KEYMAPS: UNMAP ALL DEFAULTS
################################################################################

unmap <F1>
unmap <F3>
unmap <F4>
unmap <F5>
unmap <F6>
unmap <F7>
unmap <F8>
unmap <F9>
unmap <F10>
unmap <S-tab>
unmap <C-a>
unmap <C-b>
unmap <C-c>
unmap <C-d>
unmap <C-e>
unmap <C-f>
unmap <C-g>
unmap <C-h>
unmap <C-i>
unmap <C-j>
unmap <C-k>
unmap <C-l>
unmap <C-m>
unmap <C-n>
unmap <C-o>
unmap <C-p>
unmap <C-q>
unmap <C-r>
unmap <C-s>
unmap <C-t>
unmap <C-u>
unmap <C-v>
unmap <C-w>
unmap <C-x>
unmap <C-y>
unmap <C-z>
unmap <A-right>
unmap <A-left>
unmap <A-1>
unmap <A-2>
unmap <A-3>
unmap <A-4>
unmap <A-5>
unmap <A-6>
unmap <A-7>
unmap <A-8>
unmap <A-9>
unmap <up>
unmap <down>
unmap <left>
unmap <right>
unmap <home>
unmap <space>
unmap <enter>
unmap <end>
unmap <backspace>
unmap <delete>
unmap <insert>
unmap <esc>
unmap <tab>
unmap <pageup>
unmap <pagedown>
unmap {
unmap }
unmap [
unmap ]
unmap <
unmap >
unmap :
unmap ;
unmap |
unmap \
unmap ,
unmap .
unmap "
unmap '
unmap ?
unmap /
unmap `
unmap ~
unmap +
unmap =
unmap !
unmap @
unmap #
unmap $
unmap %
unmap ^
unmap &
unmap *
unmap (
unmap )
unmap -
unmap _
unmap a
unmap b
unmap c
unmap d
unmap e
unmap f
unmap g
unmap h
unmap i
unmap j
unmap k
unmap l
unmap m
unmap n
unmap o
unmap p
unmap q
unmap r
unmap s
unmap t
unmap u
unmap v
unmap w
unmap x
unmap y
unmap z
unmap A
unmap B
unmap C
unmap D
unmap E
unmap F
unmap G
unmap H
unmap I
unmap J
unmap K
unmap L
unmap M
unmap N
unmap O
unmap P
unmap Q
unmap R
unmap S
unmap T
unmap U
unmap V
unmap W
unmap X
unmap Y
unmap Z

################################################################################
# KEYMAPS: MODES
################################################################################

map {{ keymap_enter_console_cli_mode }} console
map {{ keymap_exit_console_cli_mode }} change_mode normal
map {{ keymap_exit_ranger }} quit!

################################################################################
# KEYMAPS: NAVIGATION
################################################################################

map {{ keymap_parent_dir }} move left=1
map {{ keymap_enter_dir }} move right=1
map {{ keymap_next_entry }} move down=1
map {{ keymap_prev_entry }} move up=1
map {{ keymap_next_page_of_entries }} move down=1 pages=True
map {{ keymap_prev_page_of_entries }} move up=1 pages=True
map {{ keymap_first_entry }} move to=0
map {{ keymap_last_entry }} move to=-1
map {{ keymap_next_loc_in_history }} history_go 1
map {{ keymap_prev_loc_in_history }} history_go -1
map {{ keymap_go_to_fuzzy_searched_entry }} console scout -ftsea%space

################################################################################
# KEYMAPS: JUMPS
################################################################################

{% for keymap in keymaps_go_to_dir %}
{{ 'map ' }}{{ keymap.key_presses }}{{ ' eval fm.cd("' }}{{ keymap.dir }}{{ '")' }}
{% endfor %}

################################################################################
# KEYMAPS: LAUNCH
################################################################################

# NOTE: ranger doesn't like quotes around %d, but it handles spaces-in-name ok
map {{ keymap_edit_text_file_in_new_window }} shell -f {{ start_term_emulator }} {{ term_arg_set_dir }}%d {{ term_arg_exec_cmd }}'{{ start_text_editor }} "%p"'
map {{ keymap_open_dir_in_new_window }} shell -f {{ start_term_emulator }} {{ term_arg_set_dir }}%d
map {{ keymap_select_prog_to_open_entry }} chain draw_possible_programs; console open_with%space

################################################################################
# KEYMAPS: ENTRY HIDDEN FILES
################################################################################

# NOTE: need the double-quoted %d here
map {{ keymap_show_hidden_files_in_current_dir }} setlocal path="%d" show_hidden true
map {{ keymap_hide_hidden_files_in_current_dir }} setlocal path="%d" show_hidden false

################################################################################
# KEYMAPS: ENTRY LISTINGS
################################################################################

map {{ keymap_toggle_entry_pager_view }} display_file
map {{ keymap_list_entries_with_sizes }} linemode filename
map {{ keymap_list_entries_with_mtimes }} linemode mtime
map {{ keymap_list_entries_with_permissions }} linemode permissions

################################################################################
# KEYMAPS: ENTRY ORDERING
################################################################################

map {{ keymap_order_entries_by_names }} chain set sort=natural; set sort_reverse=False
map {{ keymap_order_entries_by_sizes }} chain set sort=size; set sort_reverse=False
map {{ keymap_order_entries_by_mtimes }} chain set sort=mtime; set sort_reverse=False
map {{ keymap_order_entries_by_file_types }} chain set sort=type; set sort_reverse=False
map {{ keymap_order_entries_by_extensions }} chain set sort=extension; set sort_reverse=False

################################################################################
# KEYMAPS: ENTRY QUERIES
################################################################################

map {{ keymap_query_dir_entry_recursive_size }} get_cumulative_size
map {{ keymap_query_popup_entries_by_size }} shell -p du -hA -d 1 | sort -rh

################################################################################
# KEYMAPS: ENTRY CREATE / RENAME
################################################################################

map {{ keymap_rename_entry_name_and_ext }} eval fm.execute_console("bulkrename") if fm.thisdir.marked_items else fm.open_console("rename ")
map {{ keymap_rename_entry_name_only }} rename_append -r
map {{ keymap_rename_entry_append_at_end_of_name }} rename_append
map {{ keymap_rename_entry_append_at_end_of_ext }} eval fm.open_console('rename ' + fm.thisfile.relative_path.replace("%", "%%"))
map {{ keymap_rename_entry_append_at_start_of_name }} eval fm.open_console('rename ' + fm.thisfile.relative_path.replace("%", "%%"), position=7)
map {{ keymap_touch_new_entry }} console touch%space
map {{ keymap_create_new_dir }} console mkdir%space

################################################################################
# KEYMAPS: ENTRY DELETE / TRASH
################################################################################

map {{ keymap_delete_file_or_dir }} delete
map {{ keymap_move_file_or_dir_to_trash }} shell {{ ranger_gnu_coreutils_mv_cmd }} --backup=numbered %s "{{ ranger_trash_dir }}/"

################################################################################
# KEYMAPS: ENTRY CHMOD
################################################################################

map {{ keymap_chmod_entry }} console -p12 shell chmod   %%s

################################################################################
# KEYMAPS: ENTRY SELECTION
################################################################################

map {{ keymap_toggle_select_entry }} mark_files toggle=True
map {{ keymap_toggle_drag_select_mode }} toggle_visual_mode
map {{ keymap_select_all_entries }} mark_files all=True toggle=True

################################################################################
# KEYMAPS: SEARCH
################################################################################

map {{ keymap_search_entries }} console search%space
map {{ keymap_next_search_hit }} search_next
map {{ keymap_prev_search_hit }} search_next forward=False
map {{ keymap_recurse_fuzzy_search }} fzf_select

################################################################################
# KEYMAPS: COPY AND PASTE
################################################################################

map {{ keymap_copy_sel_or_current_entry }} copy mode=toggle
map {{ keymap_cut_sel_or_current_entry }} cut mode=toggle
map {{ keymap_unselect_and_uncopy_entries }} chain uncut; mark_files all=True val=False
map {{ keymap_paste_entries }} chain paste; uncut; mark_files all=True val=False

################################################################################
# KEYMAPS: CONSOLE
################################################################################

map {{ keymap_shell_cmd_on_current_entry }} console -p6 shell %%s
map {{ keymap_shell_cmd }} console shell -p%space

