################################################################################
# vim: set filetype=cfg:
# ANSIBLE-MANAGED CONFIGURATION FILE
# PURPOSE:  set app priority for opening specific file types
# SOURCING: ranger sources this *instead of* system rifle.conf
# REF: https://github.com/ranger/ranger/blob/master/ranger/config/rifle.conf
################################################################################

# Syntax:
#   <condition1> , <condition2> , <condition...> = command
#
# 'command' can contain these terms:
#   $1-$9           the nth selected file
#   $@              all selected files
#   ask             special keyword, makes rifle ask you what prog to run
#
# 'condition' can contain these terms
#   flag <flags>    change how the program is run (see flags below)
#   label <label>   label the cmd for open_with
#   !               special prefix that negates condition
#   match <regex>   regex matches $1
#   ext <regex>     regex matches the extension of $1
#   mime <regex>    regex matches the mime type of $1
#   name <regex>    regex matches the basename of $1
#   path <regex>    regex matches the absolute path of $1
#   has <program>   program is installed on system (i.e. located in $PATH)
#   env <variable>  env var "variable" is non-empty
#   file            $1 is a file
#   directory       $1 is a directory
#   number <n>      change the number of this command to n
#   terminal        stdin, stderr and stdout are connected to a terminal
#   X               $DISPLAY is not empty (i.e. running in xorg)
#
# 'flags'
#   f               fork program and make it run in the background
#   r               execute the cmd with root permissions (using sudo)
#   t               run program in a new vt (using $TERMCD or $TERM)

################################################################################
# HTML
################################################################################

{% for prog in open_html_files_with %}
ext x?html?, has {{ prog }}, X, flag f = {{ prog }} -- "$@"
{% endfor %}

################################################################################
# TEXT
################################################################################

mime ^text, label editor = {{ start_text_editor }} -- "$@"
mime ^text, label libreoffice, has libreoffice, X, flag f = libreoffice "$@"
!mime ^text, label editor, ext xml|json|csv|tex|py|pl|rb|js|sh|php|h|c|hpp|cpp|md|adoc|txt|lua = {{ start_text_editor }} -- "$@"
                           ext xml|json|csv|tex|py|pl|rb|js|sh|php|h|c|hpp|cpp|md|adoc|txt|lua = {{ start_text_editor }} -- "$@"

################################################################################
# MISC
################################################################################

ext 1                         = man "$1"
ext s[wmf]c, has zsnes, X     = zsnes "$1"
ext s[wmf]c, has snes9x-gtk,X = snes9x-gtk "$1"
ext nes, has fceux, X         = fceux "$1"
ext exe, has wine             = wine "$1"
name ^[mM]akefile$            = make

################################################################################
# AUDIO
################################################################################

{% for prog in open_video_files_with %}
mime ^audio, has {{ prog }}, X, flag f = {{ prog }} -- "$@"
{% endfor %}

################################################################################
# VIDEO
################################################################################

{% for prog in open_video_files_with %}
mime ^video, has {{ prog }}, X, flag f = {{ prog }} -- "$@"
{% endfor %}

{% for prog in open_video_files_with %}
ext iso, has {{ prog }}, X, flag f = {{ prog }} -- "$@"
{% endfor %}

################################################################################
# PDF
################################################################################

{% for prog in open_pdf_files_with %}
ext pdf, has {{ prog }}, X, flag f = {{ prog }} -- "$@"
ext [e|x]ps[f|i], has {{ prog }}, X, flag f = {{ prog }} -- "$@"
ext djv[u], has {{ prog }}, X, flag f = {{ prog }} -- "$@"
{% endfor %}

################################################################################
# DOCS
################################################################################

{% for prog in open_office_files_with %}
ext pptx?|od[dfgpst]|docx?|sxc|xlsx?|xlt|xlw|gnm|gnumeric, has {{ prog }}, X, flag f = {{ prog }} "$@"
{% endfor %}

################################################################################
# IMAGES
################################################################################

ext xcf,         has gimp,      X, flag f = gimp -- "$@"

mime ^image/svg, has inkscape,  X, flag f = inkscape -- "$@"
mime ^image/svg, has display,   X, flag f = display -- "$@"

mime ^image,     has pqiv,      X, flag f = pqiv -- "$@"
mime ^image,     has sxiv,      X, flag f = sxiv -- "$@"
mime ^image,     has feh,       X, flag f = feh -- "$@"
mime ^image,     has mirage,    X, flag f = mirage -- "$@"
mime ^image,     has ristretto, X, flag f = ristretto "$@"
mime ^image,     has eog,       X, flag f = eog -- "$@"
mime ^image,     has eom,       X, flag f = eom -- "$@"
mime ^image,     has gimp,      X, flag f = gimp -- "$@"

################################################################################
# ARCHIVES
################################################################################

# avoid password prompt by providing empty password
ext 7z, has 7z = 7z -p l "$@" | "$PAGER"
# this requires atool
ext ace|ar|arc|bz2?|cab|cpio|cpt|deb|dgc|dmg|gz,  has als     = als -- "$@" | "$PAGER"
ext iso|jar|msi|pkg|rar|shar|tar|tgz|xar|xpi|xz|zip, has als     = als -- "$@" | "$PAGER"
ext 7z|ace|ar|arc|bz2?|cab|cpio|cpt|deb|dgc|dmg|gz,  has aunpack = aunpack -- "$@"
ext iso|jar|msi|pkg|rar|shar|tar|tgz|xar|xpi|xz|zip, has aunpack = aunpack -- "$@"

# fallback:
ext tar|gz, has tar = tar vvtf "$@" | "$PAGER"
ext tar|gz, has tar = tar vvxf "$@"

################################################################################
# TEXT EDITOR FALLBACK
################################################################################

              !mime ^text, !ext xml|json|csv|tex|py|pl|rb|js|sh|php|h|c|hpp|cpp|md|adoc|txt|lua = ask
label editor, !mime ^text, !ext xml|json|csv|tex|py|pl|rb|js|sh|php|h|c|hpp|cpp|md|adoc|txt|lua = {{ start_text_editor }} -- "$@"

################################################################################
# EXECUTE PROG AS LAST RESORT
################################################################################

# very last action, so that it's never triggered accidentally, is to execute a program
mime application/x-executable = "$1"

